/* オリジナルアプリのheader部分 */

.top-page-header {
  background: #f9faf8;
  padding: 3vh 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
}

.top-page-header-div1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}
.search-input-box {
  width: 500px;
}
.search-button {
  width: 60px;
  height: 30px;
  background-color: aquamarine;
  justify-content: flex-end;
  align-items: center;
}
.search-icon {
  width: 15px;
  background-color: aquamarine;
  justify-content: flex-end;
  align-items: center;
}

.user-nickname {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
  border-style: double;
}

.logout {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.login {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.sign-up {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.top-page-header-title {
  font-size: 20px;
  color: rgb(197, 11, 11);
  text-shadow: 0 0 30px rgba(0, 0, 0, 20);
  display: flex;
}
.top-page-header-title-med {
  font-size: 50px;
  
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  display: flex;
}

.top-page-div0 {
  background-color: rgba(255, 255, 255, 0.726);
}
.top-page-div1 {
  width: 90vw;
  height: 35vw;
  background-image: image-url('img0002.jpg');
  padding: 50px 70px;
  margin: 0 auto;
}
.top-page-title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(8, 7, 7);
}
.top-page-div2 {
  font-size: 24px;
  color: #f7f8f7;
  text-shadow:
      1px 0 0 black,
      0 1px 0 black,
      -1px 0 0 black,
      0 -1px 0 black
}
/*--------------職種検索ーーーーーーーーーーーーー*/
.search {
  padding: 0px 10px;
  background-color: black;
  color:white;
}
/* オリジナルアプリのheader部分 *///////////////////////////////////////////////////////////
/* オリジナルアプリのbody部分 *///////////////////////////////////////////////////////////
.flex {
  display: flex;
  justify-content: center;
}

.top-page-content1-title {
  font-size: 30px;
  color:rgb(11, 11, 138);
  width: 92%;
  margin: 30px 0px 10px 0px;
  border-bottom-color:royalblue;
  border-bottom-style: solid;
}

.top-page-content1-form {
  border-radius: 4%;
  display: flex;
  background-color: rgb(184, 218, 188);
  padding: 20px 20px;
  justify-content: center;
  width: 90vw;
  flex-wrap: wrap;
  margin: 30px 40px 10px 40px;
}

.top-page-content1-1 {
  border-radius: 4%;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 254, 254);
  padding: 20px 20px;
  margin: 10px 10px;
  font-size: 20px;
  color: rgb(12, 11, 11);
 /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('saiketu.jpg');*/
}

.top-page-content1-studytitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.top-page-content1-job1 {
  color: red;
  font-size: 15px;
}
.top-page-content1-job2 {
  color: rgb(2, 1, 1);
  font-size: 15px;
}

.top-page-content1-study {
  font-size: 15px;
  margin-top: 5px;
}

.top-page-content1-money {
  text-align: center;
  background-color: #3ccace;
  border: 2px solid #f8f8f8;
  border-radius: 10px;
  width: 70%;
  color: #fff;
}
.top-page-content1-money-form {
  display: flex;
  justify-content: center;
}



.top-page-content1-2 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: salmon;
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('tennteki.jpg');
}

.top-page-content1-3 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: salmon;
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('ope.jpg');
}


.top-page-content2-title {
  font-size: 30px;
  color:rgb(11, 11, 138);
  width: 92%;
  margin: 30px 0px 10px 0px;
  border-bottom: 5px solid rosybrown;
}

.top-page-content2-form {
  border-radius: 4%;
  display: flex;
  background-color: rgb(24, 148, 206);
  padding: 20px 20px;
  justify-content: space-around;
  width: 90%;
  margin: 30px 40px 10px 40px;
}

.top-page-content2-1 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('saiketukyouiku.jpg');
}

.top-page-content2-2 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('tenntekikyouiku.jpg');
}

.top-page-content2-3 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('opekyouiku.jpg');
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}
//--------------------------------------------------//




a {
  text-decoration: none;
}

