/* オリジナルアプリのheader部分 */

.top-page-header {
  background: #f8f8f8;
  padding: 5vh 10vw;
  display: flex;
  justify-content: space-between;
}

.top-page-header-div1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}
.input-box {
  width: 250px;
}
.search-button {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  justify-content: flex-end;
  align-items: center;
}
.search-icon {
  width: 15px;
  background-color: aquamarine;
  justify-content: flex-end;
  align-items: center;
}

.user-nickname {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
  border-style: double;
}

.logout {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.login {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.sign-up {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  font-size: 3vh;
}

.top-page-header-title {
  font-size: 8vh;
  color: rgb(197, 11, 11);
  text-shadow: 0 0 30px rgba(0, 0, 0, 20);
  display: flex;
}

.top-page-div0 {
  
  background-color: rgba(255, 255, 255, 0.726);
}
.top-page-div1 {
  width: 90vw;
  height: 35vw;
  background-image: image-url('img0002.jpg');
  padding: 0 30px;
  margin: 0 auto;
}
.top-page-title {
  font-size: 8vh;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.top-page-div2 {
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.top-page-div3 {
}
/* オリジナルアプリのheader部分 *///////////////////////////////////////////////////////////
/* オリジナルアプリのbody部分 *///////////////////////////////////////////////////////////
.flex {
  display: flex;
  justify-content: center;
}

.top-page-content1-title {
  font-size: 30px;
  color:rgb(11, 11, 138);
  width: 92%;
  margin: 30px 0px 10px 0px;
  border-bottom-color:royalblue;
  border-bottom-style: solid;
}

.top-page-content1-form {
  border-radius: 4%;
  display: flex;
  background-color: rgb(184, 218, 188);
  padding: 20px 20px;
  justify-content: center;
  width: 90vw;
  flex-wrap: wrap;
  margin: 30px 40px 10px 40px;
}

.top-page-content1-1 {
  border-radius: 4%;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  background-color: rgb(209, 207, 207);
  padding: 20px 20px;
  margin: 10px 10px;
  font-size: 20px;
  color: rgb(12, 11, 11);
 /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('saiketu.jpg');*/
}

.top-page-content1-studytitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.top-page-content1-study {
  font-size: 15px;
}

.top-page-content1-money {
  text-align: center;
  background-color: #3ccace;
  border: 2px solid #f8f8f8;
  border-radius: 10px;
  color: #fff;
}

.top-page-content1-2 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: salmon;
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('tennteki.jpg');
}

.top-page-content1-3 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: salmon;
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('ope.jpg');
}


.top-page-content2-title {
  font-size: 30px;
  color:rgb(11, 11, 138);
  width: 92%;
  margin: 30px 0px 10px 0px;
  border-bottom: 5px solid rosybrown;
}

.top-page-content2-form {
  border-radius: 4%;
  display: flex;
  background-color: rgb(24, 148, 206);
  padding: 20px 20px;
  justify-content: space-around;
  width: 90%;
  margin: 30px 40px 10px 40px;
}

.top-page-content2-1 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('saiketukyouiku.jpg');
}

.top-page-content2-2 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('tenntekikyouiku.jpg');
}

.top-page-content2-3 {
  border-radius: 4%;
  height: 300px;
  width: 300px;
  background-color: rgb(114, 250, 159);
  padding: 20px 20px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('opekyouiku.jpg');
}


.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}




a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */