/* paddingやborderを指定してもボックスサイズに含まれる設定 */
* {
  box-sizing: border-box;
}

.show-three-block {
  display: flex;
}

/*-----------------  left-block   --------------------*/
.left-block {
  width: 30%;
  padding: 25px 10px 10px 20px;
  background-color: lightgreen;
}

/*-------------左の吹き出しタイトル--------------------------*/
.learn-box-title-show {
  position: relative;
  padding: 1.5rem 2rem;
  margin-left: 40px;
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  background: rgb(79, 20, 241);
  width: 300px;
}

.learn-box-title-show:before {
  position: absolute;
  bottom: -9px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgb(79, 20, 241) transparent transparent transparent;
}
/*---------------------------------------*/
/*-------------------------------------*/


/*-----------------  center-block   --------------------*/
.center-block {
  width: 30%;
  background-color: lightpink;
  padding: 50px 0 0 0;
}
/*-----------------  返信の投稿の飾り   --------------------*/
.learn-list-show {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 5px;
  background-color: blanchedalmond;

  transition: box-shadow 2s ease-out, transform 2s ease-out;
}

.learn-list-show:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}
/*-----------------  --------------  --------------------*/
.relearn-job-name {
  color: red;
}
/*-------------真ん中の吹き出しタイトル--------------------------*/
.learn-box-title-show-center {
  position: relative;
  padding: 1rem 2rem;
  margin: 0 0 0 34px;
  font-size: 30px;
  text-align: center;
  color: #0075a9;
  border-radius: 0 10px 10px 10px;
  background: #d8ecf5;
  width: 350px;
}

.learn-box-title-show-center:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 15px;
  font-size: 1.5rem;
  position: absolute;
  top: -24px;
  left: 0;
  height: 24px;
  padding: 0 1em;
  content: '\f0a4  POINT';
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #0075a9;
}
/*---------------------------------------*/
/*-------------------------------------*/


/*-----------------  right-block    --------------------*/
.right-block {
  width: 30%;
  
  background-color: rgb(202, 214, 226);

  
}
/*-------------------------------------*/
/*-----------------  right-menu-block    --------------------*/
.right-menu-block {
  width: 10%;
  height: 100vh;
  background-color: rgb(253, 253, 253);
}

/*--------------------------------*/
.purchase-btn2 {
  width: 120px;
  background: #c724d6;
  text-align: center;
  border-radius: 4%;
  bottom: 170px;
  right: 10px;
  position: fixed;
  padding: 15px;

  transition: box-shadow 2s ease-out, transform 2s ease-out;
}
/*--------------------------------*/
.purchase-btn3 {
  width: 120px;
  background: #4ccff7;
  text-align: center;
  border-radius: 4%;
  bottom: 305px;
  right: 10px;
  position: fixed;
  padding: 15px;

  transition: box-shadow 2s ease-out, transform 2s ease-out;
}
/*--------------------------------*/
.purchase-btn4 {
  width: 120px;
  background: #caf52f;
  text-align: center;
  border-radius: 4%;
  bottom: 440px;
  right: 10px;
  position: fixed;
  padding: 15px;

  transition: box-shadow 2s ease-out, transform 2s ease-out;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

/*----------------ボタンの影装飾---------------------*/
.purchase-btn:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}
.purchase-btn2:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}
.purchase-btn3:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}
.purchase-btn4:hover {
  box-shadow: 0 15px 10px 5px rgb(0, 0, 0);
  transform: translateY(-10px);
}

/*-------------------------------------*/
.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 10px;
  position: fixed;
  padding: 15px;

  transition: box-shadow 2s ease-out, transform 2s ease-out;
}
