/* paddingやborderを指定してもボックスサイズに含まれる設定 */
* {
  box-sizing: border-box;
}
/* 依頼詳細画面の外枠 */
.learn-new-top {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  
}

.learn-box {
  background-color: rgb(109, 219, 109);
  width: 600px;
  padding: 50px; 
}

.learn-box-title {
  font-size: 35px;
  justify-content: center;
}

.learn-box-1 {
  margin: 20px 0px;
}

.job-select, .gender-select, .text, .prefecture-select, .area-select, .thankyou_money, .learn_num-select, .studytitle {
  width: 90%;
  height: 30px;
}

.text {
  height: 100px;
}

/*--------------------------------*/
.purchase-btn2 {
  width: 120px;
  background: #c724d6;
  text-align: center;
  border-radius: 4%;
  bottom: 170px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
/*--------------------------------*/
.purchase-btn3 {
  width: 120px;
  background: #4ccff7;
  text-align: center;
  border-radius: 4%;
  bottom: 305px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
/*--------------------------------*/
.purchase-btn4 {
  width: 120px;
  background: #caf52f;
  text-align: center;
  border-radius: 4%;
  bottom: 440px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
