<div class="chat-main-form">
  <div class="chat-main-top">チャット画面
  <br>------エンド<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------エンド
  </div>

  <div class="chat-main-bottom">
    <%#div class="form"%>
      <div class="form-input">
        <input class="form-message" placeholder= "type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
        <input class="form-submit" type="submit" value="送信">
       </div>
    <%#/div%>
  </div>