<div class="chat-main-form">
  <div class="chat-main-top">チャット画面
  <br>------エンド<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------
  <br>------<br>------<br>------<br>------<br>------<br>------<br>------<br>------エンド
  </div>
  <div class="chat-main-bottom">チャット入力する</div>
</div>