
.wrapper {
  display: flex;
}

// サイドバーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー//
.chat-side-bar {
  background-color: aquamarine;
  width: 20vw;
  height: 100vh;
}
// メイン画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー//
.chat-main-form {
background-color: bisque;
width: 80vw;
height:100vh;
}
// 参考用ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー//

